.Container-item{
    flex: 1;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}

.Row{
    flex-direction: row
}

.Column{
    flex-direction: column;
}

.Text-content{
    flex: 1;
    padding: 10px 5px 5px 5px;
    justify-content: flex-start;
    align-items: center;
}

.Input-content{
    flex: 2;
    padding: 10px 5px 5px 5px; 
}