.App {
  height: 100%;
  margin: 10px;
}

.Card{
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.7);
  padding: 10px;
  margin: 5px;
}

.Dashboard{
  display: flex;
  flex-direction: row;
}

.Dashboard .Card{
  margin: 10px 15px;
  cursor: pointer;
}

.Dashboard .Card:hover{
  opacity: 0.8;
}

.LoginConten{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}
.LoginConten .LoginConten_card_login, .Register_content .Register_content_card{
  margin: 40px 0px 0px 50px;
}

.Register_content{
  display: flex;
  flex-direction: row;
}

.Container{
  display: flex;
}
.column{
  flex-direction: column;
}
.row{
  flex-direction: row;
}
.formItem{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.Input{
  border-color: transparent;
  border-bottom: 2px solid  #ff0833b3
}
.Input.Input-failed{
  border-bottom-color: rgb(255, 0, 64);
}
.Input:focus{
  border-bottom-color: #f50057;
  box-shadow: 0px 6px 3px -4px #f50057;
  outline:0px;
}
.Text-error{
  color: rgb(255, 0, 64);
  font-size: small;
  font-weight: 400;
}

.Title_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.Title_container .Title_container_tile{
  padding: 0 5px;
  color:  #1d1d1d;
  font-size: 400;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
